/*Reset*/
ul {
   list-style: none;
}

* {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

/*-------*/

html {
   background-color: antiquewhite;
}

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
   justify-content: center;
   align-items: center;
   gap: 25px;
}

.gameboard {
   width: 200px;
   height: 200px;
   margin: 0 auto;
   align-self: center;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
}

.gameboard > div {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   border-radius: 5px;
   font-size: 2rem;
   cursor: pointer;
}

.result {
   font-weight: 700;
   font-size: 2.5rem;
   text-align: center;
}

.reset__btn {
   width: 120px;
   height: 40px;
   border: none;
   border-radius: 15px;
   background-color: rgb(125, 243, 141);
   box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
   transition: all 0.3s ease;
}

.reset__btn:hover {
   background-color: rgb(62, 216, 116);
   box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.2);
   transform: scale(1.05);
}
