/*Reset*/
ul {
   list-style: none;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

/*-------*/

html {
   background-color: antiquewhite;
}

body {
   display: flex;
   height: 100vh;
}

.gameboard {
   width: 200px;
   height: 200px;
   margin: 0 auto;
   align-self: center;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, 1fr);
}

.gameboard > div {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
   font-size: 2rem;
   cursor: pointer;
}
